.addAccount {
  width: 20rem;
  background: #384b5b;
  backdrop-filter: brightness(90%);

  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 10000;
  border: 2px solid #2d4050;
  border-radius: 2rem;
  padding: 2rem;
}
.addAccount .openForm {
  font-size: 3rem;
  background: #2d4050;
  color: inherit;
  border: none;

  /* display: inline-block; */
  float: right;
  padding-inline: 2rem;
  border-radius: 1rem;
}

.form {
  width: 40rem;
  background: #384b5b;
  backdrop-filter: brightness(90%);

  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 10000;
  border: 2px solid #2d4050;
  border-radius: 2rem;
  padding: 2rem;
}
.form .inputContainer {
  display: flex;
  flex-direction: column;
}
.form .inputContainer:not(:last-of-type) {
  margin-bottom: 1rem;
}
.form .inputContainer label {
  font-size: 1.6rem;
  margin-bottom: 0.25rem;
  color: #7b93a7;
}
.form .inputContainer input {
  font-size: 1.6rem;
  margin-bottom: 0.25rem;
  color: #7b93a7;
  padding: 1rem;
  outline: none;
  border-radius: 0.75rem;
  border: 2px solid #2d4050;
  background: #384b5bbf;
}
.form .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form .buttons button {
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  border: 2px solid #2d4050;
}
.form .buttons button:first-of-type {
  background: transparent;
  color: #7b93a7;
  font-size: 1.6rem;
}
.form .buttons button:last-of-type {
  background: #c7e4fc;
  color: #2d4050;
  font-size: 1.6rem;
}
